.background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0b1826;
}
.appName{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: serif;
    font-size: 50px;
   background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}